<!DOCTYPE html>
<html>
{% load static %}
{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dziedzictwo kulturowe</title>
    <style type="text/css">
        #map {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
    </style>



    <link rel="stylesheet" type="text/css"
        href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'style/bootstrap.css' %}">
     
    <link rel="stylesheet" type="text/css" href="{% static 'style/site.css' %}">

    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}">	</script>
    <script type="text/javascript"
        src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}"></script>
    <script type="text/javascript" src="{% static 'leaflet.wms.js' %}"></script>



    
</head>


    




<body>

    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container " >
    
                <a href="https://www.lasy.gov.pl/pl" target="_blank">
                    <img style="max-height: 50px; margin-right: 10px" src="{% static 'images/logoLP.png' %}" />
                </a>
    
                <a class="navbar-brand  text-white">DZIEDZICTWO KULTUROWE W ZARZĄDZIE LASÓW PAŃSTWOWYCH</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white" href="/admin/login">ZALOGUJ</a>
        </li>
    </ul>
                    
                </div>
    
                
            </div>
        </nav>
    </header>






    
    <div class="container">
            





        <div id="map">
        </div>
    <script type="text/javascript">
        function our_layers(map, options) {
            var layer_OpenStreetMap= L.tileLayer.wms('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            opacity: 1.0,
            minZoom: 1,
            maxZoom: 28,
            minNativeZoom: 0,
            maxNativeZoom: 19
        });
        
        
        
            var layer_Nadlesnictwa= L.WMS.layer("https://mapserver.bdl.lasy.gov.pl/ArcGIS/services/WMS_BDL_kat_wlasnosci/MapServer/WMSServer", "5", {
                    format: 'image/png8',
                    uppercase: true,
                    transparent: true,
                    continuousWorld : true,
                    tiled: true,
                    info_format: 'text/html',
                    opacity: 1,
                    identify: false,
                    attribution: '',
                });
        
            var layer_RDLP = L.WMS.layer("https://mapserver.bdl.lasy.gov.pl/ArcGIS/services/WMS_BDL_kat_wlasnosci/MapServer/WMSServer", "6", {
                    format: 'image/png8',
                    uppercase: true,
                    transparent: true,
                    continuousWorld : true,
                    tiled: true,
                    info_format: 'text/html',
                    opacity: 1,
                    identify: false,
                    attribution: '',
        }); 



            var MyIcon = L.Icon.extend({
            options: {
                
                iconSize:     [30, 40],
                shadowSize:   [40, 25],
                iconAnchor:   [15, 40],
                shadowAnchor: [0, 25],
                popupAnchor:  [0, -35]
            }
        });


            var ruchome_icon = new MyIcon({
            iconUrl: "{% static 'icons/r.png' %}"});
            map.createPane('pane_ruchome');
            map.getPane('pane_ruchome').style.zIndex = 403;
            map.getPane('pane_ruchome').style['mix-blend-mode'] = 'normal';



                var zab_ruch = new L.GeoJSON.AJAX("{% url 'zabytkiruchome' %}", {
                    attribution: '',
                    interactive: true,
                    layerName: 'ruchome',
                    pane: 'pane_ruchome',
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup(feature.properties.nazwa.toString())
                    },
                    pointToLayer: function (feature, latlng) {
                    var context = {
                        feature: feature,
                        variables: {}
                    };
                    return L.marker(latlng, {icon: ruchome_icon});
                },

                });
            

            var parki_icon = new MyIcon({
            iconUrl: "{% static 'icons/pk.png' %}"});
            map.createPane('pane_parki');
            map.getPane('pane_parki').style.zIndex = 403;
            map.getPane('pane_parki').style['mix-blend-mode'] = 'normal';

            var parki_kult = L.layerGroup();
                var datasets1 = new L.GeoJSON.AJAX("{% url 'parki' %}", {
                    attribution: '',
                    interactive: true,
                    layerName: 'parki',
                    pane: 'pane_parki',
                    style: function colors(feature) {
                        switch (feature.properties.nazwa) {
                            case 'Mickiewiczowski Park Kulturowy':
                                return {
                                    color: 'orange',
                                    fillOpacity: 0.8

                                };
                                break;

                        }

                    },
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup(feature.properties.nazwa.toString());
                        
                            var center = layer.getBounds().getCenter();
                            var marker = L.marker(center, {icon: parki_icon}).bindPopup(feature.properties.nazwa.toString());
                            var polygonAndItsCenter = L.layerGroup([layer, marker]);
                            polygonAndItsCenter.addTo(parki_kult);
                            
                        },
                    });


                    





            



            var pomniki_icon = new MyIcon({
            iconUrl: "{% static 'icons/ph.png' %}"});
            map.createPane('pane_pomniki');
            map.getPane('pane_pomniki').style.zIndex = 403;
            map.getPane('pane_pomniki').style['mix-blend-mode'] = 'normal';


            var pomniki_hist = L.layerGroup();
            var datasets2 = new L.GeoJSON.AJAX("{% url 'pomniki' %}", {
                
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(feature.properties.nazwa.toString());
                    var center = layer.getBounds().getCenter();
                            var marker = L.marker(center, {icon: pomniki_icon}).bindPopup(feature.properties.nazwa.toString());
                            var polygonAndItsCenter = L.layerGroup([layer, marker]);
                            polygonAndItsCenter.addTo(pomniki_hist);
                            
                        },
                    });


            var unesco_icon = new MyIcon({
            iconUrl: "{% static 'icons/u.png' %}"});
            map.createPane('pane_unesco');
            map.getPane('pane_unesco').style.zIndex = 403;
            map.getPane('pane_unesco').style['mix-blend-mode'] = 'normal';


            var unesco = L.layerGroup();

            var datasets3 = new L.GeoJSON.AJAX("{% url 'unesco' %}", {
                
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(feature.properties.nazwa.toString());
                    var center = layer.getBounds().getCenter();
                            var marker = L.marker(center, {icon: unesco_icon}).bindPopup(feature.properties.nazwa.toString());
                            var polygonAndItsCenter = L.layerGroup([layer, marker]);
                            polygonAndItsCenter.addTo(unesco);
                            
                        },
                    });

            layer_Nadlesnictwa.addTo(map);
            layer_RDLP.addTo(map);
            zab_ruch.addTo(map);
            parki_kult.addTo(map);
            pomniki_hist.addTo(map);
            unesco.addTo(map);

          

        
            var baseLayers = {
            
               
            }
            
            var groupedOverlays = {
               
                'Inne formy ochrony': {
                    '<img src="{% static "legend/pk.png" %}" /> Parki kultury': parki_kult,
                
                    '<img src="{% static "legend/ph.png" %}" /> Pomniki Historii': pomniki_hist,
                    '<img src="{% static "legend/u.png" %}" /> Zabytki UNESCO':  unesco,

                
                },
          
               
                    "Zabytki wpisane do rejestru":{
                        '<img src="{% static "legend/r.png" %}" /> Zabytki ruchome': zab_ruch,

                },
                " ":{
                    '<img src="{% static "legend/nadlesnictwa.png" %}" /> Nadleśnictwa': layer_Nadlesnictwa,
                    '<img src="{% static "legend/rdlp.png" %}" /> RDLP':layer_RDLP,
                },

            };
           
            L.control.groupedLayers(baseLayers, groupedOverlays,{collapsed:false}).addTo(map);
        }
    </script>
</div>
<footer class="border-top footer text-white">
    <div class="container">
        &copy; 2020 DGLP 
        
    

    </div>
</footer>



    {% leaflet_map "map" callback="window.our_layers" %}
</body>

</html>